Смена {{shift}} <br>

<button id="add_new_coffee">Добавить</button>

<form name="sell" method="post" id="sell_form" action="/sell">
    <input type="submit" value="Продать"><br>
    <input type="hidden" name="size" id="sell_size" value="1">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    COFFEE_SELECTOR = `<select name='type$$$'>
    {% for type in coffee_types %}
    <option value='{{ type[0] }}'>{{ type[1] }}</option>
    {% endfor %}
    </select>`

    add = function(i) {
        $('#sell_form').append(COFFEE_SELECTOR.replace('$$$', i.toString()));

        b = $("<button class='plus" + i + "'>+</button>");
        bm = $("<button class='minus" + i + "'>-</button>");
        x = $("<input type='text' class='number" + count + "' value='1' name='number" + count + "'>");
        $('#sell_form').append(x);
        $('#sell_form').append(b);
        $('#sell_form').append(bm);

        $('.plus' + i).click(
            function(e) {
                e.preventDefault();
                v = parseInt($('.number' + i).first().val());
                v += 1;
                $('.number' + i).first().val(v);
            }
        );

        $('.minus' + i).click(
            function(e) {
                e.preventDefault();
                v = parseInt($('.number' + i).first().val());
                if (v > 1) {
                    v -= 1;
                }
                $('.number' + i).first().val(v);
            }
        );

        $('#sell_form').append("<br>");
        $('#sell_size').val(i);
    }

    $(
        function() {
            count = 1;
            add(1);

            $('#add_new_coffee').click(function() {
                count += 1;
                add(count);
            });
        }
    );
</script>

<a href="close_shift">Закрыть смену</a>